body{
    background: url('https://jakesfoodbible.files.wordpress.com/2017/04/empty-gym.jpg?w=700');
    background-size: 100%;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* h1{
    position: flex;
    display: flexbox;
    background-color: transparent;
    text-align: Center;
    background-size: auto;
    color: white;
} */

.workoutbtns{
    display: inline-block;
    text-align: center;
    background-color: transparent;
    
}

/* h2{
    position: flex;
    display: flexbox;
    text-align: center;
    background-color: transparent;
    background-size: auto;
    color: white;
} */

div{
    position: flex;
    text-align: center;
    background-color:whitesmoke;
}

.dropbtn{ 
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: black;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8=x 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {
    display: block;
}

.hide {
    display: none;
}
#pickyourworkout{
    background-size: auto;
    background-color: black
}

button{
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 10px;
    border: black;
    cursor: pointer;
    border-radius: 10px;
}

.headers{
    background-color: black;
    color: white;
    text-align: center;
}